@model Issuance
<div class="wrapper__book my__book__wrapper">
    <div class="book">
        <a href="~/book?bookId=@Model.Book.Id">
            <img src=@Model.Book.SmallPictureUri alt="@Model.Book.Name" class="book__img__small">
        </a>
        <div class="book__text">
            <h6 class="book__name">@Model.Book.Name</h6>
            <p class="book__author">@Model.Book.Author</p>
            <p class="book__author">Вернул: @Model.DateOfReturn.ToShortDateString()</p>
        </div>
    </div>
</div>
