@{
    ViewData["Title"] = "Home";
    @model HomeIndexViewModel
}

<div class="container">
    @*
        @Html.Partial("_book_section", new KeyValuePair<string, List<Book>>("Популярные книги", Model.PopularBooks))

        @Html.Partial("_book_section", new KeyValuePair<string, List<Book>>("Последние поступления", Model.LastBooks))

        @Html.Partial("_book_section", new KeyValuePair<string, List<Book>>("Скоро появятся", Model.PreOrderedBooks))
    *@
</div>
