@model Review
<div class="wrapper__review">
    <div class="review">
        <h6 class="reviewer__name">@Model.User.Email</h6>
        <p class="review__description">@Model.Description</p>
        <p class="review__date">@Model.CreationDate</p>
        <div class="stars reviews_stars jq__book__rating" data-rating="@Model.Rate">
            <span class="fa fa-star"></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>
</div>
