@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form action="http://127.0.0.1:5001/Home/UploadAsync" method="post">
        Data: <input name="data" type="text"/><br>
        <select name="region">
            <option value="rus">RUS</option>
            <option value="eu">EU</option>
            <option value="usa">USA</option>
        </select>
        <input type="submit">
    </form>
</div>